PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://aan:2hUO8ZrbsQaR5pzy@cluster0.zxddb3t.mongodb.net/carservice

JWT_EXPIRE=30d

FROM_EMAIL=aanchal2115@gmail.com
FROM_NAME=MotoXpress
CLIENT_URL=http://localhost:5173

RAZORPAY_KEY_ID=rzp_test_SGgUxNXJPhFnL7
RAZORPAY_KEY_SECRET=gOf4SoUh0IiNkCRlzgXWlx4c

JWT_REFRESH_SECRET=gfhfhcjhcjf7t75757533

JWT_SECRET=Shuihihg675464645

MAIL_HOST=smtp.gmail.com
EMAIL_USER=sohamdang313131@gmail.com
EMAIL_PASS=kykd thbq pjui bitm

CLOUDINARY_CLOUD_NAME=ddtcoh2pq
CLOUDINARY_API_KEY=555818197657351
CLOUDINARY_API_SECRET=rELyiUfQPZXgqfCb9hqUe2g9ZfE